

.text{
  padding-left: 20%;
  animation-name: mymove;
  animation-duration: 1s;

}
ul{
  padding-top: 100px;
}
li{
  margin-top: 30px;
  text-decoration: none;
  border-style: groove;

}

.side1{  background-color:pink;
  position: fixed;
  height: 100%;
  width:13%;

}
#link{padding-left: 5px;

margin-top: 20px;}



.side{
  padding-left: 3%;
  background-color:pink;
  position: fixed;
  height: 100%;
  width: 12%;
 animation-name: mymove;
  animation-duration: 1s;
}

}
@keyframes mymove1{
  50%{width:300px;}
}
@keyframes mymove{30%{
  margin-left: 200px;
}}
