

.text{
  padding-left: 20%;
  width=80%;
  animation-name: mymove;
  animation-duration: 1s;
animation-play-state: running;
}
ul{
  padding-top: 100px;
}
li{
  margin-top: 30px;
  text-decoration: none;
  border:1px  ridge black;
  width: 70px;
  font-style: oblique;
  font-size: 25px;
  font-weight: bold black;

}

.side1{  background-color:pink;
  position: fixed;
  height: 100%;
  width:180px;

}

.menu{
  margin-top: 20%;
 margin-right: 20%;
 font-size: 20px;
 float: right;
 cursor: pointer;
 color: black;
}


.side{
  padding-left: 3%;
  background-color:pink;
  position: fixed;
  height: 100%;
  width: 200px;
 animation-name: mymove;
 animation-duration: 1s;
 animation-play-state:running;
}



@keyframes mymove{30%{
  margin-left: 150px;
}}
