body, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #676767;
  font-weight: 300;
}
.text{
  padding-left: 8%;
  animation-name: mymove;
  animation-duration: 1s;

}
/*a{visibility: hidden;}*/

.side{
  background-color:pink;
  position: fixed;
  height: 100%;
  width: 6%;
  animation-name: mymove;
  animation-duration: 1s;
}

}
@keyframes mymove1{
  50%{width:300px;}
}
@keyframes mymove{50%{
  margin-left: 50px;
}}
